# Brewfile Desktop
include "Brewfile.common"

cask "obsidian"
cask "visual-studio-code"
cask "discord"
cask "cursor"
cask "ghostty"
cask "telegram"
cask "tailscale"
